<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../stylesheets/login-signup.css">
</head>
<%- include('../partials/meta-data') %>

<body>
    <%- include('../partials/nav') %>
    <div>
        <img src="../images/logo.png" class="logo-login">
    </div>
    <div class="col-md-12" id="ngo-signup-part">
        <%- messages("message", locals) %>
        <% if (errors) { %>
        <% errors.forEach(error => { %>
        <center>
            <div style="width: 80%;" class="alert alert-danger text-center"><%= error.msg %></div>
        </center>
        <% }) %>
        <% } %>
        <div class="col-md-6">
            <img src="../../images/organisationlogin.png" class="ngo-signup-image signup-image">
        </div>
        <div class="col-md-6">
            <div class="card-view">
                <h1 class="text-center text1">Join MyHelper.ng as NGO</h1>
                <p class="text-center text2">Fill the form below to join as NGO</p>
                <form method="POST" action="/join/ngo">
                    <input class="input-group" name="ngo_name" type="text" placeholder="Name of Organisation">
                    <input class="input-group" name="email" type="text" placeholder="Email">
                    <input class="input-group" name="link" type="text" placeholder="Website or Facebook Page">
                    <select name="state" class="input-group" placeholder="State">
                        <option>State</option>
                        <option>Lagos</option>
                        <option>Ogun</option>
                        <option>Abuja</option>
                        <option>Osun</option>
                        <option>Kano</option>
                        <option>Katsina</option>
                    </select>
                    <input class="input-group" name="password" type="password" placeholder="Password">
                    <input class="input-group" name="password2" type="password" placeholder="Confirm Password">
                    <input class="signup-btn" type="submit" value="Join">
                    <p class="text-center text4 text4a"><a href="/login/ngo">Already joined? If yes, login</a></p>
                </form>
            </div>
        </div>
    </div>
    <div class="container"></div>
    <%- include('../partials/footer') %>
</body>