<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../stylesheets/login-signup.css">
</head>
<%- include('partials/meta-data') %>


<body>
    <%- include('partials/nav') %>
    <div>
        <div>
            <img src="../images/logo.png" class="logo-login">
        </div>
        <%- messages("message", locals) %>
        <% if (errors) { %>
        <% errors.forEach(error => { %>
        <center>
            <div style="width: 50%;" class="alert alert-danger text-center"><%= error.msg %></div>
        </center>
        <% }) %>
        <% } %>
        <div class="card-view-3">
            <div class="">
                <div class="for-md-screen fms-left">
                    <h1 class="text-center text1">Login to your account</h1>
                    <img src="../images/authentication.png" width="100%">
                </div>
                <div class="for-md-screen fms-right">
                    <form method="POST" action="/login/<%= user %>">
                        <input class="input-group marg1" name="email" type="text" placeholder="Email">
                        <input class="input-group" name="password" type="password" placeholder="Password">
                        <input class="login-btn" type="submit" value="Login">
                        <p class="text-center text4 text5a"><a href="/join">Don't have an account? Create one</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="../scripts/login-signup.js"></script>
</body>

</html>