<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="icon" href="../images/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/header-footer.css">
    <link rel="stylesheet" href="../stylesheets/volunteer-dashboard.css">
    <link rel="stylesheet" href="../stylesheets/ngo-dashboard.css">
    <script src="../scripts/main.js"></script>
    <script src="../scripts/ngo-dashboard.js"></script>
</head>

<%- include('partials/nav') %>

<body>
    <br>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <img src="../images/pic1.jpg" class="img-responsive" style="width: 100%;">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-8 col-md-9 col-lg-10" id="profile">
            <!--Profile column-->
            <% if (!(ngo === null)) { %>

            <div class="card-view-3">
                <h1 class=""><%= ngo.ngo_name %></h1>
                <hr>
                <div class="col-md-6">
                    <p class="text8 text7">Email</p>
                    <p class="text7"><%= ngo.email %></p>
                </div>
                <div class="col-md-6">
                    <p class="text8 text7">Contact Phone Number</p>
                    <p class="text7"><%= ngo.contact_phone %></p>
                </div>
                <hr>
                <div class="col-md-6">
                    <p class="text8 text7">We provide</p>
                    <p class="text7">Accomodation, meals</p>
                </div>
                <div class="col-md-6">
                    <p class="text8 text7">Our fees</p>
                    <p class="text7">No fees</p>
                </div>
                <div style="padding-left: 20px;">
                    <p class="text8 text7">What we need</p>
                    <p class="text7">Description of volunteers work goes here</p>
                    <p class="text8 text7">When we need volunteers</p>
                    <p class="text7">Description time we need volunteers work goes here</p>
                    <button class="header-btn">Join Nonprofit</button>
                </div>
            </div>

        </div>
        <div class="col-sm-4 col-md-3 col-lg-2" id="profile">
            <div class="card-view">
                <h4>
                    Donate into this NGO account
                </h4>
                <a href="/<%= ngo.ngo_name %>/give"><button class="header-btn">DONATE</button>
            </div>
            <% } else { %>
            <p class="text3">No ngo</p>
            <% } %>
        </div>
    </div>
    <div class="container"></div>
    <%- include('partials/footer') %>
</body>

</html>