<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/volunteer-dashboard.css">
    <link rel="stylesheet" href="../stylesheets/ngo-dashboard.css">
    <script src="../scripts/ngo-dashboard.js"></script>
</head>
<%- include('partials/meta-data') %>

<body>
    <%- include('partials/nav') %>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="card-view ngo-card1">
                <div>
                    <img src="../images/pic1.jpg" class="cover-img2">
                    <p class="text-center text1"><%= user.ngo_name %></p>
                    <p class="text-center text2">Nigeria</p>
                    <a href="#"><button class="profile-btn" onclick="">View Profile</button></a>
                </div>
                <hr>
                <div class="side-menu-div" onclick="volunteers()">
                    <svg class="side-menu-svg" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.286 4.99842V3.68828H13.4617V4.39134L8.1601 0.486938L0.143555 6.39044L1.52825 8.27047L2.02065 7.90776V15.8318H6.64644V10.3344C6.64644 9.49982 7.32569 8.82094 8.16046 8.82094C8.99505 8.82094 9.67394 9.49982 9.67394 10.3344V15.8318H14.3003V7.90758L14.7925 8.2701L16.1765 6.39007L14.286 4.99842ZM14.6175 7.11732L13.4759 6.27577V15.0073H10.4981V10.3342C10.4981 9.04516 9.44935 7.99642 8.16028 7.99642C6.87102 7.99642 5.82192 9.04516 5.82192 10.3342V15.0073H2.8448V6.27613L1.70301 7.1175L1.29615 6.5652L8.1601 1.51058L15.0239 6.5652L14.6175 7.11732Z"
                            fill="grey" />
                    </svg>
                    <span class="text3">VOLUNTEERS</span>
                </div>
                <hr>
                <div class="side-menu-div" onclick="activities()">
                    <svg class="side-menu-svg" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.67988 4.75993V6.49993C4.67988 6.99698 5.10969 7.39993 5.63988 7.39993C6.17008 7.39993 6.59988 6.99698 6.59988 6.49993V1.09993C6.59988 0.602873 6.17008 0.199928 5.63988 0.199928C5.10969 0.199928 4.67988 0.602873 4.67988 1.09993V2.83993H0.977024C0.503637 2.83993 0.119883 3.26974 0.119883 3.79993C0.119883 4.33012 0.503637 4.75993 0.977024 4.75993H4.67988ZM13.3199 11.9599H17.0227C17.4961 11.9599 17.8799 11.5301 17.8799 10.9999C17.8799 10.4697 17.4961 10.0399 17.0227 10.0399H13.3199V8.29993C13.3199 7.80287 12.8901 7.39993 12.3599 7.39993C11.8297 7.39993 11.3999 7.80287 11.3999 8.29993V13.6999C11.3999 14.197 11.8297 14.5999 12.3599 14.5999C12.8901 14.5999 13.3199 14.197 13.3199 13.6999V11.9599ZM6.11988 19.1599V20.8999C6.11988 21.397 6.54969 21.7999 7.07988 21.7999C7.61008 21.7999 8.03988 21.397 8.03988 20.8999V15.4999C8.03988 15.0029 7.61008 14.5999 7.07988 14.5999C6.54969 14.5999 6.11988 15.0029 6.11988 15.4999V17.2399H0.999882C0.51387 17.2399 0.119883 17.6697 0.119883 18.1999C0.119883 18.7301 0.51387 19.1599 0.999882 19.1599H6.11988ZM10.8399 17.2399C10.3539 17.2399 9.95988 17.6697 9.95988 18.1999C9.95988 18.7301 10.3539 19.1599 10.8399 19.1599H16.9999C17.4859 19.1599 17.8799 18.7301 17.8799 18.1999C17.8799 17.6697 17.4859 17.2399 16.9999 17.2399H10.8399ZM1.01443 10.0399C0.520384 10.0399 0.119883 10.4697 0.119883 10.9999C0.119883 11.5301 0.520384 11.9599 1.01443 11.9599L9.06534 11.9599C9.55938 11.9599 9.95988 11.5301 9.95988 10.9999C9.95988 10.4697 9.55938 10.0399 9.06534 10.0399L1.01443 10.0399ZM8.93443 2.83993C8.44038 2.83993 8.03988 3.26974 8.03988 3.79993C8.03988 4.33012 8.44038 4.75993 8.93443 4.75993H16.9853C17.4794 4.75993 17.8799 4.33012 17.8799 3.79993C17.8799 3.26974 17.4794 2.83993 16.9853 2.83993H8.93443Z"
                            fill="grey" />
                    </svg>
                    <span class="text3">ORGANISATION</span>
                </div>
                <hr>
                <div class="side-menu-div" onclick="basicInfo()">
                    <svg class="side-menu-svg" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.97188 0.906982C6.40047 0.906982 4.29191 3.01554 4.29191 5.58695C4.29191 8.15837 6.40047 10.2155 8.97188 10.2155C11.5433 10.2155 13.6519 8.15837 13.6519 5.58695C13.6519 3.01554 11.5433 0.906982 8.97188 0.906982ZM8.97188 2.19269C10.8233 2.19269 12.3147 3.73554 12.3147 5.58695C12.3147 7.43837 10.8233 8.92979 8.97188 8.92979C7.12047 8.92979 5.57762 7.43837 5.57762 5.58695C5.57762 3.73554 7.12047 2.19269 8.97188 2.19269Z"
                            fill="grey" />
                        <path
                            d="M8.97155 10.627C4.80586 10.627 1.36017 13.8155 0.94874 17.8783C0.845884 18.7012 2.13159 18.8555 2.23445 17.9812C2.59445 14.5869 5.47443 11.9127 8.97155 11.9127C12.4687 11.9127 15.3487 14.5869 15.7087 17.9812C15.7601 18.8555 17.0972 18.7012 16.9944 17.8783C16.5829 13.8155 13.1372 10.627 8.97155 10.627Z"
                            fill="grey" />
                    </svg>
                    <span class="text3">BASIC INFO</span>
                </div>
                <hr>
                <div class="side-menu-div" onclick="ngoSettings()">
                    <svg class="side-menu-svg" viewBox="0 0 17 16" fill="grey" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.07809 3.92932H8.05536C6.98603 3.93191 5.96154 4.35917 5.20724 5.11712C4.45294 5.87507 4.03063 6.90163 4.03321 7.97095C4.0358 9.04027 4.46306 10.0648 5.22102 10.8191C5.97897 11.5734 7.00552 11.9957 8.07484 11.9931H8.08946C8.61994 11.9974 9.14598 11.8962 9.63698 11.6953C10.128 11.4945 10.5741 11.1979 10.9495 10.8231C11.3248 10.4482 11.6219 10.0024 11.8233 9.51161C12.0248 9.02086 12.1266 8.49494 12.123 7.96445C12.1191 6.89377 11.6914 5.86819 10.9334 5.11201C10.1754 4.35583 9.14878 3.9306 8.07809 3.92932ZM8.08783 11.0188H8.07809C7.26716 11.0218 6.48825 10.7026 5.91271 10.1313C5.33716 9.56002 5.01213 8.7835 5.00912 7.97257C5.0061 7.16164 5.32535 6.38273 5.89663 5.80719C6.46791 5.23164 7.24443 4.90661 8.05536 4.9036H8.07322C8.47475 4.90253 8.87256 4.98056 9.24393 5.13324C9.61531 5.28591 9.95297 5.51024 10.2377 5.79341C10.5223 6.07658 10.7484 6.41305 10.9031 6.78361C11.0577 7.15417 11.1379 7.55156 11.1389 7.95309C11.14 8.35462 11.062 8.75243 10.9093 9.1238C10.7566 9.49517 10.5323 9.83284 10.2491 10.1175C9.96596 10.4022 9.62949 10.6283 9.25893 10.783C8.88838 10.9376 8.49099 11.0177 8.08946 11.0188H8.08783Z"
                            fill="grey" />
                        <path
                            d="M16.2127 7.37993C15.9562 6.47168 15.6991 5.56344 15.4414 4.6552C15.3424 4.30771 15.3148 4.29147 14.9543 4.26874C14.4103 4.23464 13.8664 4.19891 13.3305 4.15507C13.0301 4.13071 13.0366 4.12422 13.0707 3.83031C13.1519 3.15806 13.2201 2.48256 13.298 1.78595C13.294 1.72985 13.2733 1.67623 13.2386 1.63197C13.2038 1.58771 13.1567 1.55482 13.1032 1.53751C12.2166 1.1045 11.3311 0.668782 10.4467 0.230358C10.3935 0.20218 10.3346 0.186622 10.2745 0.184891C10.2302 0.186097 10.1866 0.196372 10.1464 0.215083C10.1061 0.233794 10.0702 0.260545 10.0407 0.293686C9.52759 0.793814 9.00797 1.28582 8.49485 1.78595C8.47873 1.81041 8.45679 1.83048 8.431 1.84436C8.40521 1.85825 8.37638 1.86552 8.34709 1.86552C8.31779 1.86552 8.28896 1.85825 8.26317 1.84436C8.23738 1.83048 8.21544 1.81041 8.19932 1.78595C7.64398 1.23711 7.08215 0.696387 6.52356 0.150792C6.49439 0.112238 6.45782 0.079888 6.416 0.0556316C6.37418 0.0313752 6.32794 0.0156997 6.27999 0.00952148C6.2109 0.0149472 6.14383 0.0354554 6.08352 0.0696019C5.1953 0.495036 4.3152 0.925342 3.43023 1.3459C3.36276 1.37276 3.30715 1.42292 3.27348 1.48727C3.23982 1.55162 3.23033 1.6259 3.24674 1.69664C3.32469 2.41274 3.39289 3.13208 3.47245 3.84817C3.48193 3.87586 3.48426 3.9055 3.47922 3.93433C3.47419 3.96316 3.46195 3.99025 3.44365 4.01309C3.42534 4.03593 3.40157 4.05377 3.37453 4.06497C3.34749 4.07616 3.31805 4.08035 3.28896 4.07713C2.4998 4.1778 1.71226 4.28822 0.923094 4.40189C0.853556 4.40473 0.787252 4.43202 0.735863 4.47895C0.684474 4.52589 0.651297 4.58945 0.642177 4.65845C0.435955 5.60674 0.22811 6.55991 0.0218876 7.51633C-0.02845 7.7534 -0.000845481 7.81023 0.198881 7.93851L1.98506 9.06218C2.14744 9.16123 2.14744 9.19208 2.05488 9.35609L0.880875 11.3761C0.763962 11.5758 0.770457 11.6424 0.918223 11.8194L2.78559 14.0618C2.80947 14.1032 2.84282 14.1383 2.88291 14.1643C2.92299 14.1902 2.96866 14.2063 3.01617 14.2112C3.07523 14.2085 3.13341 14.1959 3.18829 14.1739L5.15795 13.4594C5.21527 13.4343 5.27602 13.4179 5.33819 13.4107C5.40639 13.4107 5.43237 13.4643 5.48758 13.6023C5.77012 14.3103 6.05591 15.0183 6.33033 15.7295C6.3514 15.8112 6.40049 15.883 6.46904 15.9322C6.53758 15.9815 6.62124 16.0051 6.70543 15.999C7.66834 15.999 8.62963 15.999 9.59254 15.999C9.84422 15.999 9.89294 15.9568 9.96926 15.7149C10.1901 15.0134 10.4126 14.3119 10.6285 13.6039C10.6312 13.5648 10.6479 13.5279 10.6757 13.5001C10.7035 13.4723 10.7404 13.4556 10.7795 13.4529C10.811 13.4538 10.8422 13.4593 10.8721 13.4692C11.6028 13.6884 12.3335 13.8978 13.0675 14.1187C13.1445 14.1454 13.2248 14.1618 13.3062 14.1674C13.4166 14.1674 13.4767 14.1057 13.5952 13.9449L15.2856 11.6359C15.4138 11.4605 15.4138 11.3891 15.2856 11.204C14.8894 10.6145 14.4964 10.0235 14.0953 9.43565C14.0745 9.41431 14.0592 9.38817 14.0509 9.35953C14.0425 9.33089 14.0413 9.30065 14.0474 9.27145C14.0535 9.24225 14.0667 9.215 14.0858 9.1921C14.1049 9.1692 14.1294 9.15135 14.157 9.14012C14.7936 8.69033 15.4252 8.23242 16.0585 7.77613C16.2371 7.64298 16.2663 7.56829 16.2127 7.37993ZM15.0761 7.27438C14.589 7.62512 14.0856 7.98885 13.5887 8.33959C13.456 8.42368 13.3422 8.53436 13.2544 8.66464C13.1667 8.79493 13.1068 8.94199 13.0788 9.09655C13.0507 9.25112 13.055 9.40982 13.0913 9.56265C13.1277 9.71548 13.1953 9.85911 13.2899 9.98449C13.5757 10.4018 13.8631 10.8321 14.1408 11.2462L14.2431 11.3988L13.0204 13.0794L12.6047 12.9593C12.1289 12.8213 11.6304 12.6784 11.1579 12.5339C11.0374 12.4967 10.9121 12.4776 10.786 12.477C10.5383 12.4774 10.2976 12.5601 10.1019 12.712C9.90618 12.864 9.76643 13.0766 9.70458 13.3165C9.5422 13.8475 9.3717 14.3882 9.20607 14.9095L9.17197 15.0183H7.10163C6.93926 14.5977 6.77688 14.1788 6.60638 13.7696L6.39366 13.237C6.12898 12.5712 5.67432 12.4251 5.33819 12.4251C5.16205 12.4292 4.98815 12.4655 4.82507 12.5322L4.17556 12.7677L3.25974 13.0924L1.92985 11.4946L2.34391 10.785L2.90088 9.83023C3.25974 9.21482 3.10872 8.59777 2.50792 8.22105L1.51253 7.61375L1.05949 7.32797L1.13581 6.96099C1.25597 6.40782 1.37505 5.8541 1.49305 5.29985L1.91361 5.24301C2.40075 5.17644 2.91062 5.10661 3.4075 5.04329C3.56214 5.03011 3.71244 4.9854 3.84913 4.91192C3.98583 4.83844 4.10604 4.73774 4.20234 4.61603C4.29864 4.49433 4.36899 4.35419 4.40907 4.20426C4.44915 4.05432 4.45809 3.89777 4.43536 3.74425C4.39477 3.3789 4.35742 3.01354 4.32007 2.64819C4.29951 2.44359 4.2784 2.23899 4.25675 2.03439L5.3934 1.48717L6.13385 1.12832L6.21667 1.20788C6.64535 1.62357 7.08702 2.05388 7.5157 2.47931C7.62178 2.59283 7.75001 2.68339 7.89247 2.74541C8.03492 2.80743 8.18858 2.83958 8.34395 2.83988C8.49932 2.84019 8.6531 2.80864 8.79579 2.74718C8.93849 2.68572 9.06707 2.59566 9.1736 2.48256C9.42691 2.23574 9.6813 1.99001 9.93678 1.74536L10.4061 1.29719L12.2702 2.21464V2.28771C12.2166 2.77484 12.1646 3.2425 12.1078 3.7134V3.72964C12.0718 3.90052 12.0731 4.07715 12.1115 4.24751C12.1498 4.41787 12.2245 4.57796 12.3303 4.7169C12.4467 4.84835 12.59 4.95322 12.7506 5.02438C12.9111 5.09555 13.0851 5.13135 13.2607 5.12935C13.7154 5.16507 14.1781 5.19755 14.6003 5.22353C14.7833 5.88604 14.9684 6.55179 15.1557 7.2208L15.0761 7.27438Z"
                            fill="grey" />
                    </svg>
                    <span class="text3">SETTINGS</span>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10" id="volunteers">
            <div class="col-sm-12">
                <form class="search-container">
                    <input type="text" id="search-bar" placeholder="SEARCH">
                    <a href="#"><img class="search-icon" src="../images/search.png"></a>
                </form>
            </div>
            <!--Volunteers colomn-->
            <% if (volunteers.length > 0) { %>
            <% volunteers.forEach(volunteer => { %>
            <div class="col-sm-12 col-md-6 col-lg-4 card-text">
                <a href="/<%= user.ngo_name %>/<%= volunteer.name %>">
                    <div class="card-view">
                        <img src="../images/female_profile.png" alt="" class="profile-img" />
                        <h4 class="text-center text1"><%= volunteer.name %> </h4>
                        <h6 class="text-center text2"><%= volunteer.state %> </h6>
                        <hr>
                        <p class="text-center">
                            <strong>Duration: </strong><%= volunteer.stay_number %> <%= volunteer.stay_duration %>
                        </p>
                    </div>
                </a>
            </div>
            <% }) %>
            <br>
            <div class="col-sm-12 clo-md-12 col-lg-12">
                <button class="profile-btn">More volunteers</button>
            </div>
            <% } else { %>
            <div class="col-sm-12 clo-md-12 col-lg-12">
                <h4 class="text-center text1">No volunteers yet.</h4>
            </div>
            <% } %>

        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 hide" id="activities">
            <!--Activity column-->
            <div>
                <form method="POST" action="/org/dashboard">
                    <br>
                    <label class="text6">Your Mission</label><br><br>
                    <textarea name="mission_statement" class="form-control form-text" cols="100"
                        rows="10"><%= user.mission_statement %></textarea><br><br>
                    <label class="text6">Terms and Condition</label><br>
                    <textarea name="terms_and_condition" class="form-control form-text" cols="100"
                        rows="10"><%= user.terms_and_condition %></textarea>

                    <div class="col-sm-12 clo-md-12 col-lg-12">
                        <button type="submit" class="profile-btn">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 hide" id="basic-info">
            <!--Basic info column-->
            <h1 class="text5">BASIC INFORMATION</h1>
            <div class="card-view-4 row">
                <img src="../images/pic1.jpg" class="cover-img">
                <button class="change-btn">Change Cover Picture</button>
                <div>
                    <form method="POST" action="/org/dashboard">
                        <div>
                            <div class="col-md-6">
                                <label class="text6">Name of NGO</label><br>
                                <input type="text" class="form-control form-text" name="ngo_name"
                                    value="<%= user.ngo_name %>">
                            </div>
                            <div class="col-md-6">
                                <label class="text6">Website or Facebook Page</label><br>
                                <input type="text" class="form-control form-text" name="link" value="<%= user.link %>">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="text6">State</label><br>
                            <select class="form-control form-text" name="state">
                                <option><%= user.state %></option>
                                <option>Abia</option>
                                <option>Adamawa</option>
                                <option>Akwa Ibom</option>
                                <option>Anambra</option>
                                <option>Bauchi</option>
                                <option>Bayelsa</option>
                                <option>Benue</option>
                                <option>Borno</option>
                                <option>Cross River</option>
                                <option>Delta</option>
                                <option>Ebonyi</option>
                                <option>Edo</option>
                                <option>Ekiti</option>
                                <option>Enugu</option>
                                <option>Federal Capital Territory</option>
                                <option>Gombe</option>
                                <option>Imo</option>
                                <option>Jigawa</option>
                                <option>Kaduna</option>
                                <option>Kano</option>
                                <option>Katsina</option>
                                <option>Kebbi</option>
                                <option>Kogi</option>
                                <option>Kwara</option>
                                <option>Lagos</option>
                                <option>Nasarawa</option>
                                <option>Niger</option>
                                <option>Ogun</option>
                                <option>Ondo</option>
                                <option>Osun</option>
                                <option>Oyo</option>
                                <option>Plateau</option>
                                <option>Rivers</option>
                                <option>Sokoto</option>
                                <option>Taraba</option>
                                <option>Yobe</option>
                                <option>Zamfara</option>
                            </select>
                        </div>
                        <div>
                            <div class="col-md-4">
                                <label class="text6">Address</label><br>
                                <input type="text" class="form-control form-text" name="address"
                                    value="<%= user.address %>">
                            </div>
                            <div class="col-md-4">
                                <label class="text6">Contact Name</label><br>
                                <input type="text" class="form-control form-text" name="contact_name"
                                    value="<%= user.contact_name %> ">
                            </div>
                            <div class="col-md-4">
                                <label class="text6">Contact Phone</label><br>
                                <input type="text" class="form-control form-text" name="contact_phone"
                                    value="<%= user.contact_phone %> ">
                            </div>
                            <div class="col-md-4">
                                <label class="text6">Contact Email</label><br>
                                <input type="text" class="form-control form-text" name="contact_email"
                                    value="<%= user.contact_email %> ">
                            </div>
                            <div class="col-md-4">
                                <label class="text6">Registration Number</label><br>
                                <input type="text" class="form-control form-text" name="reg_number"
                                    value="<%= user.reg_number %> ">
                            </div>
                        </div>
                        <div class="container"></div>
                        <div style="padding:0 15px">
                            <label style="padding:15px 0 0" class="text6">More About Your Organisation</label><br>
                            <textarea class="form-control form-text" name="description"
                                cols="10"><%= user.description %></textarea>
                        </div>
                        <div>
                            <input class="profile-btn" type="submit" value="SAVE">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 hide" id="ngo-settings">
            <!--Setings column-->
            <h1 class="text5">Privacy Settings</h1>
            <div class="card-view-3">
                <p class="text7">MyHelperNG is a social network where volunteers and NGO's can be matched in order to
                    achieve a common goal for the good of the world.</p>
                <p class="text7 text7a">You can manage your privacy settings here</p>
                <input type="checkbox"><span class="text7">I want to receive updates, news and marketing materials from
                    MyHelperNG</span>
                <p class="text7 text7a">Allow NonProfit profile to be visible on MyHelperNG:</p>
                <input type="checkbox"><span class="text7">For volunteers to join</span><br>
                <input type="checkbox"><span class="text7">As part of the MyHelperNg community of NGO's</span>
                <button class="settings-btn-1">Save</button>
                <hr>
                <p class="text7 text7a">Delete NGO account and information</p>
                <button class="settings-btn-2">Delete my Account</button>
            </div>
        </div>
        <div class="container"></div>
        <%- include('partials/footer') %>
</body>

</html>